<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlixNotes - Página Inicial</title>

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    {% include 'navbar.html' %}

    <header class="hero">
        <div class="hero-content">
            <h1>Bem-vindo ao FlixNotes</h1>
            <p>Organize suas séries e filmes favoritos como nunca antes.</p>
            <a href="/obras/" class="btn-netflix">Começar Agora</a>
        </div>
    </header>

</body>

</html>
