<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlixNotes - Plataformas</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <h2 class="mb-4 section-title">Plataformas de Streaming</h2>

        <table class="table table-dark table-striped table-hover rounded">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>

            <tbody>
                {% for plataforma in plataformas %}
                <tr>
                    <td>{{ plataforma.nome }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
